<head>

  <script type="text/javascript">
      function initialize() {
        var myLatLng = new google.maps.LatLng(<%= @tripLat %>, <%= @tripLon %>)
        var mapOptions = {

          center: myLatLng,
          zoom: 15
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var marker = new google.maps.Marker({
        	position: myLatLng,
        	map: map,
        	title:"<%= @trip.meeting_point %>"
        });
      }
      console.log("map loaded");
      google.maps.event.addDomListener(window, 'load', initialize);
 
   </script>
</head>
<body>
	<div class="container">
	
	<h2><%= @trip.title %></h2><br>
	<b>Description: </b><%= @trip.description %><br>
	<br><br>
	<h3>Nearby Trips</h3>
	<ul>
	<% for location in @trip.nearbys(20) %>
		<li><%= link_to location.title, location %> (<%= location.distance.round(2) %> miles)</li>
	<% end %>
	</ul>
	<b>Meeting Point: </b><%= @trip.meeting_point %><br>
	<div id="map-canvas"></div>

	</div>
</body>
