<div class="container">
	<!-- Left Column -->
	<div class="leftCol">
		<%= image_tag @user.avatar.url(:thumb) %>
<!-- 		<h2>Verifications</h2>
		<ul>
			<li>email</li>
			<li>facebook</li>
			<li>twitter</li>
		</ul> -->
		<div class="row">
			<div class="infoBar">
				<div class="leftInfo">
					<p><span class="validationNum"><%= @user.trips_organized.count %></span> Trips</p>
				</div>
			</div>
			<div class="infoBar">
				<div class="leftInfo">
					<p><span class="validationNum"><%= @user.references.count %></span> References</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Right Column -->
	<div class="rightCol">
		<h1><%= @user.first_name %> <%= @user.last_name %></h1>
		<h3><%= @user.location %></h3>

		<h2>References</h2>
		<%= render 'references/references' %><br><br>
		<%= render 'form' %>
		<br>
		<h2>Trips organized by <%= @user.first_name %></h2><br>
		<% if @user.trips_organized == [] %>
			<p><%= @user.first_name %> has not organized any trips!</p>
		<% else %>
			<% @user.trips_organized.each do |t| %>
				<div class="tripBox">
					<h4><%= t.title %></h4>
					<p><%= t.description %></p>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
