<!DOCTYPE html>
<html>
<head>
  <title>Gather</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	  <script type="text/javascript"
	      src='https://maps.googleapis.com/maps/api/js?key='+ENV["google_api_key"]>
	  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="navbar">
	<div class="container">
		<div class="logo"><%= link_to "Gather", home_index_path, :class => "linkTitle" %></div>
		<div id="nav-collapse">MENU</div>
		<nav class="nope">
			<ul>
				<li><%= link_to "Trips", trips_path, :class => "link" %></li>
				<% if current_user == nil %>
				<li><%= link_to "Sign up", new_user_registration_path, :class => "link" %> / <%= link_to "Login", new_user_session_path, :class => "link" %></li>
				<% else %>
				<li><%= link_to "Profile", user_path(current_user.id), :class => "link" %></li>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "link" %></li>
				<% end %>
			</ul>	
		
		</nav>
	</div>
</div>
<%= yield %>
	<script>
	$( '#nav-collapse').click(function() {
	  	$('nav').toggleClass("nope", 2000);
	});
	</script>
</body>
</html>
